.gradle
.idea
/crowdin.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/release
/app/libs/am-common.jar
/app/src/main/assets/am.jar
pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.nyc_output
.basement
config.local.js
basement_dist
*.apk
*.iml
*.jks
*~
