[submodule "lazysodium-android"]
	path = lazysodium-android
	url = https://github.com/MuntashirAkon/lazysodium-android
[submodule "scripts/universal-android-debloater"]
	path = scripts/universal-android-debloater
	url = https://gitlab.com/W1nst0n/universal-android-debloater.git
[submodule "apksig"]
	path = apksig
	url = https://github.com/MuntashirAkon/apksig-android.git
[submodule "toybox/toybox"]
	path = toybox/toybox
	url = https://github.com/MuntashirAkon/toybox.git
