.gradle/
.idea/
crowdin.properties
local.properties
.DS_Store
build/
app/preRelease/
app/release/
app/debug/
app/libs/am-common.jar
toybox/src/main/jniLibs
app/src/main/assets/am.jar
app/src/main/assets/main.jar
pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.nyc_output
.basement
config.local.js
basement_dist
*.apk
*.iml
*.jks
*~
scripts/KeyStore.sh
