<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".intercept.ActivityInterceptor"
            android:enabled="true"
            android:exported="true"
            android:label="@string/interceptor"
            android:taskAffinity=""
            android:windowSoftInputMode="stateUnchanged"
            tools:node="replace">

            <!-- matching any given mime type -->
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.service.quicksettings.action.QS_TILE" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <action android:name="android.intent.action.CALL_BUTTON" />
                <action android:name="android.intent.action.DIAL" />
                <!-- Used by camera to view photo taken -->
                <action android:name="android.provider.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW_SECURE" />
                <action android:name="com.android.camera.action.REVIEW" />
                <action android:name="com.android.camera.action.SPLIT_SCREEN_REVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- same as above matching when no mime type is available (null) -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.service.quicksettings.action.QS_TILE" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <action android:name="android.intent.action.CALL_BUTTON" />
                <action android:name="android.intent.action.DIAL" />
                <!-- Used by camera to view photo taken -->
                <action android:name="android.provider.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW_SECURE" />
                <action android:name="com.android.camera.action.REVIEW" />
                <action android:name="com.android.camera.action.SPLIT_SCREEN_REVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <!-- scheme-intents without mime (mime==null) -->
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.service.quicksettings.action.QS_TILE" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <action android:name="android.intent.action.CALL_BUTTON" />
                <action android:name="android.intent.action.DIAL" />
                <!-- Used by camera to view photo taken -->
                <action android:name="android.provider.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW_SECURE" />
                <action android:name="com.android.camera.action.REVIEW" />
                <action android:name="com.android.camera.action.SPLIT_SCREEN_REVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="mailto" />
                <data android:scheme="geo" />
                <data android:scheme="file" />
                <data android:scheme="content" />

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="ftp" />
                <data android:scheme="sftp" />

                <data android:scheme="skype" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="zxing" />
                <data android:scheme="spotify" />
                <data android:scheme="tel" />
                <data android:scheme="voicemail" />
                <data android:scheme="view-source" />
                <data android:scheme="sqlite" />

                <!-- Intercept Google play links -->
                <data android:scheme="market" />
                <data android:scheme="store" />
                <data android:scheme="android" />

                <!-- Intercept WhatsApp links -->
                <data android:scheme="whatsapp" />
                <data android:scheme="whatsapp-sheet" />
                <data android:scheme="whatsapp-consumer" />
            </intent-filter>
            <!-- same scheme-intents but with mime (mime!=null) -->
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.service.quicksettings.action.QS_TILE" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <action android:name="android.intent.action.CALL_BUTTON" />
                <action android:name="android.intent.action.DIAL" />
                <!-- Used by camera to view photo taken -->
                <action android:name="android.provider.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW_SECURE" />
                <action android:name="com.android.camera.action.REVIEW" />
                <action android:name="com.android.camera.action.SPLIT_SCREEN_REVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="mailto" />
                <data android:scheme="geo" />
                <data android:scheme="file" />
                <data android:scheme="content" />

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="ftp" />
                <data android:scheme="sftp" />

                <data android:scheme="skype" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="zxing" />
                <data android:scheme="spotify" />
                <data android:scheme="tel" />
                <data android:scheme="voicemail" />
                <data android:scheme="view-source" />
                <data android:scheme="sqlite" />

                <!-- Intercept Google play links -->
                <data android:scheme="market" />
                <data android:scheme="store" />
                <data android:scheme="android" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <!-- Intercept wallpaper -->
                <action android:name="android.intent.action.ATTACH_DATA" />
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="mailto" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MEDIA_SEARCH" />
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.speech.action.VOICE_SEARCH_HANDS_FREE" />
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <action android:name="android.media.action.TEXT_OPEN_FROM_SEARCH" />
                <action android:name="android.media.action.VIDEO_PLAY_FROM_SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MEDIA_SEARCH" />
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.speech.action.VOICE_SEARCH_HANDS_FREE" />
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <action android:name="android.media.action.TEXT_OPEN_FROM_SEARCH" />
                <action android:name="android.media.action.VIDEO_PLAY_FROM_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Google Now note to self -->
            <intent-filter>
                <action android:name="com.google.android.gm.action.AUTO_SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="scan"
                    android:path="/"
                    android:scheme="zxing" />
            </intent-filter>
            <!-- Intercept Samsung file manager -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/external/file/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.camera.action.CROP" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- Camera -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE" />
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
            <!-- Music player -->
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
        </activity>
    </application>

</manifest>