 
/* start css.sty */
.pplb8r-x-x-207{font-size:207%; font-weight: bold;}
.pplb8r-x-x-207{ font-weight: bold;}
.pplb8r-x-x-207{ font-weight: bold;}
.pplb8r-x-x-207{ font-weight: bold;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.pplb8r-x-x-165{font-size:165%; font-weight: bold;}
.pplb8r-x-x-165{ font-weight: bold;}
.pplb8r-x-x-165{ font-weight: bold;}
.pplb8r-x-x-165{ font-weight: bold;}
.pplb8r-x-x-172{font-size:172%; font-weight: bold;}
.pplb8r-x-x-172{ font-weight: bold;}
.pplb8r-x-x-172{ font-weight: bold;}
.pplb8r-x-x-172{ font-weight: bold;}
.pplri8r-x-x-120{font-size:120%;font-style: italic;}
.pplri8r-x-x-120{font-style: italic;}
.pplr8r-x-x-109{font-size:109%;}
.pplri8r-{font-style: italic;}
.pplri8r-{font-style: italic;}
.pplb8r-{ font-weight: bold;}
.pplb8r-{ font-weight: bold;}
.pplb8r-{ font-weight: bold;}
.pplb8r-{ font-weight: bold;}
.pplr8r-x-x-90{font-size:90%;}
.pplr8r-x-x-80{font-size:80%;}
.pplr8r-x-x-76{font-size:76%;}
.pplbi8r-{ font-weight: bold;    font-style: italic;}
.ec-lmtt-9{font-size:90%; font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.footnotes{border-top:solid 1px black; border-bottom:solid 1px black; padding-bottom:1ex; padding-top:0.5ex; margin-right:15%; margin-top:2ex; font-style:italic; font-size:85%;}
div.footnotes p{margin-top:0; margin-bottom:0; text-indent:0;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
table.tabular{border-collapse: collapse; border-spacing: 0;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc {margin-left:2em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.float img, figure.figure img {display: block; margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
.poemtitle, likepoemtitle {margin-left:2em; margin-bottom:0.5em;}
.skip-verseline {margin-top: 1em;}
.skip-verseline, .verseline {white-space: nowrap;}
.flagverse {float:right; font-size:85%; text-decoration:underline;}
.verse p{margin-bottom:0;}
.poemline {text-align:right; width:6em;}
.booknumber{display:block;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.float img, figure.figure img {display: block; margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
.abstract{margin:1em;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
div.array {text-align:center;}
.rotatebox{display: inline-block;}
.mdframed{margin-top:1em;margin-bottom:1em;}
pre.fancyvrb {white-space: pre-wrap; margin:0em;font-family:monospace,monospace;}
.framedenv{border: 1px solid black;}
.small-caps{font-variant-caps: unicase;}
#mdframed-1{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-2{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
span#colorbox1{background-color:#FCEED1;}
span#textcolor2{color:#000000}
span#colorbox3{background-color:#091F36;}
span#textcolor4{color:#FFFFFF}
span#colorbox5{background-color:#FF8A80;}
span#textcolor6{color:#000000}
span#colorbox7{background-color:#4F1C14;}
span#textcolor8{color:#FFFFFF}
span#colorbox9{background-color:#FFFF00;}
span#textcolor10{color:#000000}
span#textcolor11{color:#E05915}
span#textcolor12{color:#E05915}
span#textcolor13{color:#E05915}
span#textcolor14{color:#FF0000}
span#textcolor15{color:#FF0000}
span#textcolor16{color:#E05915}
span#textcolor17{color:#09868B}
span#textcolor18{color:#09868B}
span#textcolor19{color:#09868B}
span#textcolor20{color:#FF00FF}
span#colorbox21{background-color:#FF0000;}
span#textcolor22{color:#000000}
span#colorbox23{background-color:#790D0D;}
span#textcolor24{color:#FFFFFF}
span#colorbox25{background-color:#FF8A80;}
span#textcolor26{color:#000000}
span#colorbox27{background-color:#4F1C14;}
span#textcolor28{color:#FFFFFF}
span#colorbox29{background-color:#FF8017;}
span#textcolor30{color:#000000}
span#colorbox31{background-color:#FF8017;}
span#textcolor32{color:#FFFFFF}
span#colorbox33{background-color:#EA80FC;}
span#textcolor34{color:#000000}
span#colorbox35{background-color:#431C5D;}
span#textcolor36{color:#FFFFFF}
#mdframed-3{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-4{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-5{border:3.0pt solid #B80000; background-color: #FFFFFF; color:#000000;}
#mdframed-6{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-7{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-8{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-9{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-10{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-11{border:3.0pt solid #B80000; background-color: #FFFFFF; color:#000000;}
#mdframed-12{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-13{border:3.0pt solid #B80000; background-color: #FFFFFF; color:#000000;}
#mdframed-14{border:3.0pt solid #B80000; background-color: #FFFFFF; color:#000000;}
#mdframed-15{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-16{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-17{border:3.0pt solid #B80000; background-color: #FFFFFF; color:#000000;}
#mdframed-18{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-19{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-20{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-21{border:3.0pt solid #B80000; background-color: #FFFFFF; color:#000000;}
#mdframed-22{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-23{border:3.0pt solid #B80000; background-color: #FFFFFF; color:#000000;}
#mdframed-24{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-25{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-26{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-27{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-28{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-29{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
pre#fancyvrb4{ border-top: solid 0.4pt; }
pre#fancyvrb4{ border-bottom: solid 0.4pt; }
span#textcolor37{color:rgb(0,127,0)}
span#textcolor38{color:rgb(101,101,101)}
span#textcolor39{color:rgb(101,101,101)}
span#textcolor40{color:rgb(101,101,101)}
span#textcolor41{color:rgb(101,101,101)}
span#textcolor42{color:rgb(0,127,0)}
pre#fancyvrb5{ border-top: solid 0.4pt; }
pre#fancyvrb5{ border-bottom: solid 0.4pt; }
span#textcolor43{color:rgb(0,127,0)}
span#textcolor44{color:rgb(101,101,101)}
span#textcolor45{color:rgb(101,101,101)}
span#textcolor46{color:rgb(101,101,101)}
span#textcolor47{color:rgb(101,101,101)}
span#textcolor48{color:rgb(0,127,0)}
#mdframed-30{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
pre#fancyvrb7{ border-top: solid 0.4pt; }
pre#fancyvrb7{ border-bottom: solid 0.4pt; }
span#textcolor49{color:rgb(101,101,101)}
#mdframed-31{border:3.0pt solid #B80000; background-color: #FFFFFF; color:#000000;}
#mdframed-32{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-33{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
pre#fancyvrb8{ border-top: solid 0.4pt; }
pre#fancyvrb8{ border-bottom: solid 0.4pt; }
#mdframed-34{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-35{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-36{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-37{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-38{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-39{border:3.0pt solid #000000; background-color: #FFFFFF; color:#000000;}
#mdframed-40{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
#mdframed-41{border:3.0pt solid #B80000; background-color: #FFFFFF; color:#000000;}
#mdframed-42{border:3.0pt solid #FFB529; background-color: #FFFFFF; color:#000000;}
pre#fancyvrb11{ border-top: solid 0.4pt; }
pre#fancyvrb11{ border-bottom: solid 0.4pt; }
span#textcolor50{color:rgb(0,127,0)}
span#textcolor51{color:rgb(0,127,0)}
span#textcolor52{color:rgb(0,127,0)}
span#textcolor53{color:rgb(175,0,63)}
span#textcolor54{color:rgb(101,101,101)}
span#textcolor55{color:rgb(101,101,101)}
span#textcolor56{color:rgb(101,101,101)}
span#textcolor57{color:rgb(0,127,0)}
span#textcolor58{color:rgb(0,127,0)}
span#textcolor59{color:rgb(0,127,0)}
span#textcolor60{color:rgb(175,0,63)}
span#textcolor61{color:rgb(101,101,101)}
span#textcolor62{color:rgb(101,101,101)}
span#textcolor63{color:rgb(0,127,0)}
span#textcolor64{color:rgb(0,127,0)}
span#textcolor65{color:rgb(0,127,0)}
span#textcolor66{color:rgb(175,0,63)}
span#textcolor67{color:rgb(101,101,101)}
span#textcolor68{color:rgb(101,101,101)}
span#textcolor69{color:rgb(0,127,0)}
span#textcolor70{color:rgb(0,127,0)}
span#textcolor71{color:rgb(0,127,0)}
span#textcolor72{color:rgb(175,0,63)}
span#textcolor73{color:rgb(101,101,101)}
span#textcolor74{color:rgb(101,101,101)}
span#textcolor75{color:rgb(0,127,0)}
span#textcolor76{color:rgb(0,127,0)}
span#textcolor77{color:rgb(0,127,0)}
span#textcolor78{color:rgb(175,0,63)}
span#textcolor79{color:rgb(101,101,101)}
span#textcolor80{color:rgb(101,101,101)}
span#textcolor81{color:rgb(0,127,0)}
span#textcolor82{color:rgb(0,127,0)}
span#textcolor83{color:rgb(0,127,0)}
span#textcolor84{color:rgb(175,0,63)}
span#textcolor85{color:rgb(101,101,101)}
span#textcolor86{color:rgb(101,101,101)}
span#textcolor87{color:rgb(0,127,0)}
span#textcolor88{color:rgb(0,127,0)}
span#textcolor89{color:rgb(0,127,0)}
span#textcolor90{color:rgb(175,0,63)}
span#textcolor91{color:rgb(101,101,101)}
span#textcolor92{color:rgb(101,101,101)}
span#textcolor93{color:rgb(0,127,0)}
span#textcolor94{color:rgb(0,127,0)}
span#textcolor95{color:rgb(0,127,0)}
span#textcolor96{color:rgb(175,0,63)}
span#textcolor97{color:rgb(101,101,101)}
span#textcolor98{color:rgb(101,101,101)}
span#textcolor99{color:rgb(0,127,0)}
span#textcolor100{color:rgb(0,127,0)}
span#textcolor101{color:rgb(0,127,0)}
span#textcolor102{color:rgb(175,0,63)}
span#textcolor103{color:rgb(101,101,101)}
span#textcolor104{color:rgb(101,101,101)}
pre#fancyvrb12{ border-top: solid 0.4pt; }
pre#fancyvrb12{ border-bottom: solid 0.4pt; }
span#textcolor105{color:rgb(0,127,0)}
span#textcolor106{color:rgb(0,127,0)}
span#textcolor107{color:rgb(0,127,0)}
span#textcolor108{color:rgb(0,0,255)}
span#textcolor109{color:rgb(0,127,0)}
span#textcolor110{color:rgb(0,127,0)}
span#textcolor111{color:rgb(0,127,0)}
span#textcolor112{color:rgb(0,127,0)}
span#textcolor113{color:rgb(0,127,0)}
span#textcolor114{color:rgb(175,0,63)}
span#textcolor115{color:rgb(0,127,0)}
span#textcolor116{color:rgb(0,127,0)}
span#textcolor117{color:rgb(101,101,101)}
span#textcolor118{color:rgb(101,101,101)}
pre#fancyvrb13{ border-top: solid 0.4pt; }
pre#fancyvrb13{ border-bottom: solid 0.4pt; }
span#textcolor119{color:rgb(0,127,0)}
span#textcolor120{color:rgb(0,127,0)}
span#textcolor121{color:rgb(0,127,0)}
span#textcolor122{color:rgb(0,127,0)}
span#textcolor123{color:rgb(0,0,255)}
span#textcolor124{color:rgb(0,127,0)}
span#textcolor125{color:rgb(0,127,0)}
span#textcolor126{color:rgb(0,127,0)}
span#textcolor127{color:rgb(175,0,63)}
span#textcolor128{color:rgb(0,127,0)}
span#textcolor129{color:rgb(0,127,0)}
span#textcolor130{color:rgb(175,0,63)}
span#textcolor131{color:rgb(0,127,0)}
span#textcolor132{color:rgb(0,127,0)}
span#textcolor133{color:rgb(170,33,255)}
span#textcolor134{color:rgb(175,0,63)}
span#textcolor135{color:rgb(0,127,0)}
span#textcolor136{color:rgb(0,127,0)}
span#textcolor137{color:rgb(170,33,255)}
span#textcolor138{color:rgb(0,127,0)}
span#textcolor139{color:rgb(0,127,0)}
span#textcolor140{color:rgb(170,33,255)}
span#textcolor141{color:rgb(0,127,0)}
span#textcolor142{color:rgb(0,127,0)}
span#textcolor143{color:rgb(170,33,255)}
span#textcolor144{color:rgb(0,127,0)}
span#textcolor145{color:rgb(0,127,0)}
span#textcolor146{color:rgb(170,33,255)}
span#textcolor147{color:rgb(0,127,0)}
span#textcolor148{color:rgb(0,127,0)}
span#textcolor149{color:rgb(170,33,255)}
span#textcolor150{color:rgb(101,101,101)}
span#textcolor151{color:rgb(101,101,101)}
/* end css.sty */

