/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home #main-title, .home .action {
  margin: 1.0rem auto!important;
}

.home .hero .description {
  font-size: 1.0rem!important;
  font-style: italic;
  margin: auto!important;
}
