/* SPDX-License-Identifier: GPL-3.0-or-later OR CC-BY-SA-4.0 */
#title-block-header {
    display: none;
}

#TOC {
    height: 100%;
    width: 16em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 0 1.25em;
    color: #21005D; /* ?attr/colorOnPrimaryContainer */
    background: #EADDFF; /* ?attr/colorPrimaryContainer */
}

#TOC ul {
    list-style-type: none;
    padding: 1em 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}

#TOC ul ul {
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 0;
    font-weight: normal;
    font-size: 0.8em;
}

#TOC ul ul ul {
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 0;
    font-style: oblique;
    font-size: 0.9em;
}

.center {
    text-align: center;
}

.level1, .footnotes, .titlingpage {
    padding: 1em;
    margin: auto;
}

.level5 h5 .header-section-number {
    display: none;
}

.level5 h5 {
    margin: auto;
    display: inline-block;
    padding-right: 0.5em;
}

.level5 h5 + p, .level5 h5 + div + p {
    display: inline;
}

.level5 h5 + div {
    display: inline;
}

.titlingpage p:nth-child(2) {
    font-size: 3em;
}

.footnotes {
    margin-right: auto !important;
    border-bottom: unset !important;
    font-size: inherit !important;
}

@media screen and (min-width: 48em) {
    .level1, .footnotes, .titlingpage {
        margin-left: 18.5em;
    }
}

@media screen and (max-width: 48em) {
    #TOC {
        position: unset;
        height: unset;
        width: unset;
        background: unset;
    }

    .level1, .footnotes, .titlingpage {
        max-width: 42em;
    }
}

.amalert {
    border-width: 0 0 0 3pt !important;
    border-style: solid;
    padding: 0.4em 0.4em 0.4em 0.8em;
    color: unset !important;
    background: unset !important;
    margin-bottom: 1em;
}

.amalert > p:first-child {
    padding-right: 5px;
}

.amalert.tip {
    border-color: #625B71 !important; /* ?attr/colorSecondary */
    color: #1D192B !important; /* ?attr/colorOnSecondaryContainer */
    background-color: #E8DEF8 !important; /* ?attr/colorSecondaryContainer */
}

.amalert.warning {
    border-color: #7D5260 !important; /* ?attr/colorTertiary */
    color: #31111D !important; /* ?attr/colorOnTertiaryContainer */
    background-color: #FFD8E4 !important; /* ?attr/colorTertiaryContainer */
}

.amalert.danger {
    border-color: #B3261E !important; /* ?attr/colorError */
    color: #410E0B !important; /* ?attr/colorOnErrorContainer */
    background-color: #F9DEDC !important; /* ?attr/colorErrorContainer */
}

.amalert p:nth-child(1), .amalert p:nth-child(2) {
    display: inline;
}

.seealso *, .seealso-inline {
    font-style: oblique;
    margin: 0;
}

.seealso * {
    display: inline-block;
}

.seealso ul {
    padding: 0;
}

.seealso ul li:before {
    content: '\00a0\2022\00a0';
}

.colorbox {
    padding: 3px 7px;
    border-radius: 5px;
}

figcaption.caption span.id:after {
    content: ' ';
}

figure {
    text-align: center;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: Palatino, 'Palatino Linotype', Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    line-height: 1.5em;
    word-break: break-word;
    color: #1C1B1F; /* ?attr/colorOnSurface */
    background: #FFFBFE; /* ?attr/colorSurface */
}

a {
    color: #6750A4; /* ?attr/colorPrimary */
    text-decoration: none;
}

a:active, a:visited {
    color: #6750A4; /* ?attr/colorPrimary */
}

a:hover {
    color: #6750A4; /* ?attr/colorPrimary */
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

.anchor {
    opacity: 0.2;
}

.anchor:after {
    content: "¶︎";
}

.anchor:hover {
    opacity: 1.0;
    text-decoration: none;
}

::-moz-selection {
    background: #E7E0EC; /* ?attr/colorSurfaceVariant */
    color: #49454F; /* ?attr/colorOnSurfaceVariant */
}

::selection {
    background: #E7E0EC; /* ?attr/colorSurfaceVariant */
    color: #49454F; /* ?attr/colorOnSurfaceVariant */
}

a::-moz-selection {
    background: #FFFFFF; /* ?attr/colorOnPrimary */
    color: #6750A4; /* ?attr/colorPrimary */
}

a::selection {
    background: #FFFFFF; /* ?attr/colorOnPrimary */
    color: #6750A4; /* ?attr/colorPrimary */
}

p {
    margin: 1em 0;
}

img, object[type='image/svg+xml'] {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #1C1B1F; /* ?attr/colorOnSurface */
    line-height: 1em;
}

h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.9em;
}

blockquote {
    color: #666666;
    margin: 0;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12); /* ?android:attr/colorControlHighlight */
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); /* ?android:attr/colorControlHighlight */
    margin: 1em 0;
    padding: 0;
}

pre, code, kbd, samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 0.98em;
}

div.sourceCode {
    background-color: #f4f4f4;
}

pre {
    padding: 1em;
    word-wrap: break-word;
    background-color: #f4f4f4;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

ins {
    background: #E7E0EC; /* ?attr/colorSurfaceVariant */
    color: #49454F; /* ?attr/colorOnSurfaceVariant */
    text-decoration: none;
}

mark {
    background: #E7E0EC; /* ?attr/colorSurfaceVariant */
    color: #49454F; /* ?attr/colorOnSurfaceVariant */
    font-style: italic;
    font-weight: bold;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}

li p:last-child {
    margin: 0;
}

dd {
    margin: 0 0 0 2em;
}

img, object[type='image/svg+xml'] {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

@media only screen and (min-width: 480px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    #TOC {
        color: #EADDFF; /* ?attr/colorOnPrimaryContainer */
        background: #4F378B !important; /* ?attr/colorPrimaryContainer */
    }

    body {
        color: #E6E1E5 !important; /* ?attr/colorOnSurface */
        background-color: #1C1B1F !important; /* ?attr/colorSurface */
    }

    a, a:visited {
        color: #D0BCFF !important; /* ?attr/colorPrimary */
    }

    h1, h2, h3, h4, h5, h6 {
        color: #E6E1E5 !important; /* ?attr/colorOnSurface */
    }

    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.2); /* ?android:attr/colorControlHighlight */
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* ?android:attr/colorControlHighlight */
    }

    pre, div.sourceCode {
        background-color: #242424;
    }

    .amalert.tip {
        border-color: #CCC2DC !important; /* ?attr/colorSecondary */
        color: #E8DEF8 !important; /* ?attr/colorOnSecondaryContainer */
        background-color: #4A4458 !important; /* ?attr/colorSecondaryContainer */
    }

    .amalert.warning {
        border-color: #EFB8C8 !important; /* ?attr/colorTertiary */
        color: #FFD8E4 !important; /* ?attr/colorOnTertiaryContainer */
        background-color: #633B48 !important; /* ?attr/colorTertiaryContainer */
    }

    .amalert.danger {
        border-color: #F2B8B5 !important; /* ?attr/colorError */
        color: #F2B8B5 !important; /* ?attr/colorOnErrorContainer */
        background-color: #8C1D18 !important; /* ?attr/colorErrorContainer */
    }
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    #TOC {
        display: none;
    }

    .amalert.tip {
        color: unset !important;
        background-color: unset !important;
    }

    .amalert.warning {
        color: unset !important;
        background-color: unset !important;
    }

    .amalert.danger {
        color: unset !important;
        background-color: unset !important;
    }

    body {
        font-size: 12pt;
        max-width: 100%;
    }

    a, a:visited {
        text-decoration: underline;
    }

    hr {
        height: 1px;
        border: 0;
        border-bottom: 1px solid black;
    }

    a[href]:after {
        content: " <" attr(href) ">";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a.uri:after, a[href^="javascript:"]:after, a[href^="mailto:"]:after, a[href^="app-manager:"]:after, a[href^="#"]:after {
        content: "";
    }

    a[href^="#toc:"] {
        text-decoration: none;
    }

    a.footnote-ref {
        text-decoration: none;
    }

    a.footnote-back {
        display: none;
    }

    pre, blockquote {
        border: 1px solid #999;
        padding: .5em;
        page-break-inside: avoid;
    }

    tr, img, object[type='image/svg+xml'] {
        page-break-inside: avoid;
    }

    img, object[type='image/svg+xml'] {
        max-width: 100% !important;
    }

    @page :left {
        margin: 15mm 20mm 15mm 10mm;
    }

    @page :right {
        margin: 15mm 10mm 15mm 20mm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}
