<!-- SPDX-License-Identifier: Apache-2.0 AND GPL-3.0-or-later -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_CACHE_FILES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.GET_PACKAGE_SIZE"
        android:maxSdkVersion="25" />
    <uses-permission
        android:name="android.permission.GET_APP_OPS_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <application
        android:name=".AppManager"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/backup_rules"
        android:banner="@mipmap/ic_banner"
        android:extractNativeLibs="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="DataExtractionRules,UnusedAttribute">
        <activity
            android:name=".oneclickops.OneClickOpsActivity"
            android:exported="false"
            android:label="@string/one_click_ops" />
        <activity
            android:name=".runningapps.RunningAppsActivity"
            android:exported="true"
            android:label="@string/running_apps" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:label="@string/app_settings"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="app-manager" />
                <data android:host="settings" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sharedpref.SharedPrefsActivity"
            android:taskAffinity=""
            android:exported="false" />
        <activity
            android:name=".usage.AppUsageActivity"
            android:exported="true" />
        <activity
            android:name=".scanner.ClassViewerActivity"
            android:exported="false" />
        <activity
            android:name=".scanner.ScannerActivity"
            android:exported="true"
            android:label="@string/scanner">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apk.explorer.AppExplorerActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/explore"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/java-archive" />
                <data android:mimeType="application/x-dex" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/java-archive" />
                <data android:mimeType="application/x-dex" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter android:label="@string/search">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="market"
                    android:host="search" />
            </intent-filter>
        </activity>
        <activity
            android:name=".runner.TermActivity"
            android:label="Term"
            android:exported="true"
            android:taskAffinity=""
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".accessibility.activity.LeadingActivityTrackerActivity"
            android:label="Leading Activity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.TransparentBackground" />

        <activity-alias
            android:name=".details.AppInfoActivity"
            android:exported="true"
            android:label="@string/app_info"
            android:targetActivity=".details.AppDetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/vnd.apkm" />
                <data android:mimeType="application/xapk-package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/vnd.apkm" />
                <data android:mimeType="application/xapk-package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.apkm" />
                <data android:pathPattern=".*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\.apks" />
                <data android:pathPattern=".*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\.xapk" />
                <data android:pathPattern=".*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".details.AppDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".details.manifest.ManifestViewerActivity"
            android:exported="true"
            android:label="@string/manifest_viewer">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apk.installer.PackageInstallerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/install"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/AppTheme.TransparentBackground">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/vnd.apkm" />
                <data android:mimeType="application/xapk-package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.INSTALL_PACKAGE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/vnd.apkm" />
                <data android:mimeType="application/xapk-package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.apkm" />
                <data android:pathPattern=".*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm" />
                <data android:pathPattern=".*\\.apks" />
                <data android:pathPattern=".*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks" />
                <data android:pathPattern=".*\\.xapk" />
                <data android:pathPattern=".*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.xapk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".crypto.OpenPGPCryptoActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/AppTheme.TransparentBackground" />
        <activity
            android:name=".crypto.ks.KeyStoreActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/AppTheme.TransparentBackground" />
        <activity
            android:name=".profiles.ProfilesActivity"
            android:exported="true"
            android:label="@string/profiles" />
        <activity
            android:name=".profiles.AppsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".sysconfig.SysConfigActivity"
            android:exported="false"
            android:label="@string/sys_config" />
        <activity
            android:name=".batchops.BatchOpsResultsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:taskAffinity="" />
        <activity
            android:name=".intercept.ActivityInterceptor"
            android:enabled="true"
            android:exported="true"
            android:label="@string/interceptor"
            android:taskAffinity=""
            android:windowSoftInputMode="stateUnchanged">

            <!-- matching any given mime type -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <!-- Used by camera to view photo taken -->
                <action android:name="com.android.camera.action.REVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- same as above matching when no mime type is available (null) -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <!-- scheme-intents without mime (mime==null) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="mailto" />
                <data android:scheme="geo" />
                <data android:scheme="file" />

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="ftp" />
                <data android:scheme="sftp" />

                <data android:scheme="skype" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="zxing" />
                <data android:scheme="spotify" />
                <data android:scheme="tel" />
                <data android:scheme="voicemail" />
                <data android:scheme="view-source" />
                <data android:scheme="sqlite" />

                <!-- Intercept Google play links -->
                <data android:scheme="market" />
                <data android:scheme="store" />
                <data android:scheme="android" />
            </intent-filter>
            <!-- same scheme-intents but with mime (mime!=null) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="mailto" />
                <data android:scheme="geo" />
                <data android:scheme="file" />

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="ftp" />
                <data android:scheme="sftp" />

                <data android:scheme="skype" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="zxing" />
                <data android:scheme="spotify" />
                <data android:scheme="tel" />
                <data android:scheme="voicemail" />
                <data android:scheme="view-source" />
                <data android:scheme="sqlite" />

                <!-- Intercept Google play links -->
                <data android:scheme="market" />
                <data android:scheme="store" />
                <data android:scheme="android" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="mailto" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Google Now note to self -->
            <intent-filter>
                <action android:name="com.google.android.gm.action.AUTO_SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="scan"
                    android:path="/"
                    android:scheme="zxing" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.camera.action.CROP" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSTALL_PACKAGE" />
                <action android:name="android.intent.action.UNINSTALL_PACKAGE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="package" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
            <!-- Camera -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE" />
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.HelpActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="" />
        <activity
            android:name=".crypto.auth.AuthManagerActivity"
            android:exported="false"
            android:label="@string/auth_manager_title" />
        <activity
            android:name=".crypto.auth.AuthFeatureDemultiplexer"
            android:exported="true" />
        <activity
            android:name=".details.ActivityLauncherShortcutActivity"
            android:exported="false" />
        <activity
            android:name=".apk.behavior.FreezeUnfreezeActivity"
            android:taskAffinity=""
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/AppTheme.TransparentBackground" />
        <activity
            android:name=".main.SplashActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logcat.LogViewerActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/log_viewer"
            android:launchMode="singleTop"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.am.log" />
                <data android:pathPattern=".*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.am.log" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.am.log" />
                <data android:pathPattern=".*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.am.log" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.am.log" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logcat.RecordLogDialogActivity"
            android:exported="true"
            android:theme="@style/AppTheme.TransparentBackground" />
        <activity
            android:name=".fm.FmActivity"
            android:exported="true"
            android:label="@string/files"
            android:launchMode="singleTop"
            android:taskAffinity="" />

        <service
            android:name=".apk.installer.PackageInstallerService"
            android:exported="false" />
        <service
            android:name=".batchops.BatchOpsService"
            android:exported="false" />
        <service
            android:name=".profiles.ProfileApplierService"
            android:exported="false" />
        <service
            android:name=".logcat.LogcatRecordingService"
            android:exported="false" />
        <service
            android:name=".apk.behavior.FreezeUnfreezeService"
            android:exported="false" />
        <service
            android:name=".accessibility.NoRootAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".self.filecache.InternalCacheCleanerService"
            android:exported="false" />

        <receiver
            android:name=".servermanager.ServerStatusChangeReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".usage.ScreenTimeAppWidget"
            android:exported="true"
            android:label="@string/screen_time">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_screen_time" />
        </receiver>
        <receiver
            android:name=".oneclickops.ClearCacheAppWidget"
            android:exported="true"
            android:label="@string/clear_cache">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_clear_cache" />
        </receiver>
        <receiver
            android:name=".logcat.RecordingWidgetProvider"
            android:label="@string/record_log"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <data android:scheme="log_viewer_widget" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.RECORD_OR_STOP" />

                <data android:scheme="log_viewer_widget" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recording_widget_info" />
        </receiver>
        <receiver
            android:name=".self.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".fm.FmProvider"
            android:authorities="${applicationId}.file"
            android:exported="false"
            android:grantUriPermissions="true" />

        <meta-data
            android:name="android.permission.INTERNET.mode"
            android:value="runtime" />
    </application>

</manifest>