<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.muntashirakon.AppManager">
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"
        android:maxSdkVersion="25" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_app_manager"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".activities.SharedPrefsActivity" />
        <activity
            android:name=".activities.AppUsageActivity"
            android:permission="android.permission.PACKAGE_USAGE_STATS" />
        <activity android:name=".activities.ClassViewerActivity" />
        <activity android:name=".activities.ClassListingActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_launcher_app_manager"
            tools:replace="android:icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AppInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_info" />
        <activity
            android:name=".activities.AppDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.ManifestViewerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>