<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.muntashirakon.AppManager">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" android:maxSdkVersion="25" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_app_manager"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_launcher_app_manager"
            tools:replace="android:icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_info"
            />
        <activity
            android:name=".AppDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".ViewManifestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".View2ManifestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>
</manifest>